.ae-auth {
    min-height: 100%;
    background: linear-gradient(0deg, #26d0ffcc, #0cabd7);
}

.ae-auth-container {
    background-color: white;
    padding: 30px;
    width: 432px;
    border-radius: 4px;
}

.ae-auth__header {
    font-family: var(--home-font-primary);
    font-weight: bold;
    font-size: 30px;
}

.ae-auth__header--success{
    color: green;
    font-family: var(--home-font-primary);
    font-weight: 300;
}

.ae-auth--input {
    position: relative;
    border: solid 2px #d9d9d9;
    padding: 10px 20px;
    border-radius: 4px;
    width: 100%;
    transition: border 0.4s;
}

.ae-auth--input:focus{
    border: solid 2px #0dacd8;
}

.ae-auth--input-msg{
    margin: 3px 13px;
}

.ae-auth--input-container {
    position: relative;
    margin-bottom: 30px;
}

.ae-auth--input-container::before {
    position: absolute;
    content: attr(data-title);
    z-index: 1;
    color: #00a0cc;
    top: -12px;
    left: 19px;
    font-size: 17px;
    background-color: white;
    padding: 0 5px;
    font-family: var(--home-font-secondary);
}

.ae-auth--forgot-password-container {
    text-align: right;
    margin-top: -24px;
    margin-bottom: 25px;
}

.ae-auth--forgot-password {
    font-family: var(--home-font-secondary);
    color: #00a0cd;
    font-weight: bold;
}

.ae-auth--confirm-btn {
    position: relative;
    z-index: 1;
    background-color: #00a0cd;
    padding: 13px 8px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-family: var(--home-font-primary);
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    border: solid 2px transparent;
    overflow: hidden;
    transition: all 0.12s;
}

.ae-auth--confirm-btn::before{
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform-origin: center bottom;
    transform: scaleY(0);
    transition: transform 0.25s ease-in-out;
}

.ae-auth--confirm-btn:hover{
    color: #00a0cd;
    border: solid 2px #00a0cd;
}

.ae-auth--confirm-btn:hover::before {
    transform-origin: center top;
    transform: scaleY(1);
}

.ae-auth-divider--text {
    padding: 0 15px;
    color: #a5abb1;
}

.ae-auth-divider--line {
    width: 40%;
    border-bottom: solid 1px #d9d9d9;
    display: inline-block;
    vertical-align: middle;
}

.ae-auth--sign-in-card {
    display: flex;
    margin-bottom: 14px;
    cursor: pointer;
}

.ae-auth--sign-in-card:last-of-type {
    margin-bottom: 0;
}

.ae-auth--sign-in-card:hover .ae-auth--sign-in-card__image {
    fill: white;
}

.ae-auth--sign-in-card__image-container {
    position: relative;
    border: solid 2px #00a0cd;
    width: 52px;
    display: flex;
    border-radius: 4px 0 0 4px;
    padding: 12px;
    overflow: hidden;
}

.ae-auth--sign-in-card__image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a0cd;

    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.30s ease-in-out;
}

.ae-auth--sign-in-card:hover .ae-auth--sign-in-card__image-container::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.ae-auth--sign-in-card__image {
    fill: #00a0cd;
    z-index: 1;

    transition: all 0.2s;
}

.ae-auth--sign-in-card__text {
    flex: 1;
    border: solid 2px #00a0cd;
    border-left: none;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #00a0cd;
    font-size: 22px;
    font-family: var(--home-font-primary);
}

@media (max-width: 575.98px) {
    .ae-auth__header {
        font-size: 23px;
    }

    .ae-auth--sign-in-card__text {
        font-size: 19px;
    }
}