@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --ad-primary: #2b47bf;
    --dashboard-sidebar-width: 250px;
    --header-height: 60px;
}

html, body {
    height: 100%;
}

body.auth #header {
    display: none;
}

.header {
    height: 75px;
    box-shadow: 0 1px 0 #e6e8ec;
    background-color: white;
}

.header.ae-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Raleway, serif;
    font-size: 30px;
    color: white;
    padding: 0 15px;
}

.ae-logo > img {
    height: 70px;
}

.header > .container {
    display: flex;
    height: 100%;
}

.ae-navbar {
    display: flex;
    justify-content: end;
    flex: 1;
}

.ae-navbar--link {
    margin: auto 15px;
    border: solid 2px var(--ad-primary);
    border-radius: 6px;
    padding: 2px 13px;
}

.ae-navbar--link:hover {
    box-shadow: 0 0 2px #294ec1;
}

.ae-navbar--link > a {
    font-family: Raleway, serif;
    font-size: 20px;
    color: var(--ad-primary);
    text-decoration: none;
}

.ae-home-banner {
    margin-bottom: 150px;
}

.ae-home-banner__main-message {
    font-family: Raleway, serif;
    color: white;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
}

.ae-home-banner-subtext, .ae-features-text {
    font-family: 'Poppins', sans-serif;
}

.ae-home-banner-subtext {
    color: white;
    letter-spacing: 0.3px;
}

.ae-home-banner-button {
    background-color: #fff;
    border-bottom: solid 2px #a0a0a0;
    border-radius: 4px;
    cursor: pointer;
    color: #206cc8;
    font-size: 18px;
}

.ae-home-banner-button:hover {
    text-decoration: none;
}

.ae-home-banner-button img {
    display: none;
    transition: all 0.5s;
}

.ae-home-banner-button:hover img {
    display: inline-block;
    height: 22px;
    margin-left: 12px;
    animation: increaseWidth 0.4s;
}

.ae-home-benefits-wrapper {
    transition: all 0.3s;
}

.ae-home-benefits-wrapper:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    background-color: white;
}

.ae-home-benefits-header h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    color: #2850c1;
}

.ae-home-section.ae-benefits, .ae-home-section.ae-pricing {
    margin-bottom: 150px;
}

.ae-home-section.ae-benefits {
    margin-top: 211px;
}

.ae-home-section.ae-features {
    margin-bottom: 30px;
}

.ae-hero {
    position: relative;
    background: linear-gradient(#2a4bc0, #206cc8);
    padding-top: 76px;
}

.ae-hero__wave {
    position: absolute;
    top: 100%;
    width: 100%;
}

.ae-home-pricing {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    transition: all 0.3s;
}

.ae-home-pricing:hover {
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.25) !important;
}

.ae-home-pricing__price {
    color: #000;
    font-size: 40px;
    font-weight: 600;
}

.ae-home-pricing-benefits {
    list-style: none;
    padding-left: 0;
    margin-bottom: 35px;
    height: 200px;
    font-family: Raleway, serif;
    font-size: 19px;
    color: #4b4b4b;
    margin-left: 19px
}

.ae-home-pricing-benefits li {
    margin-bottom: 7px;
    position: relative;
}

.ae-home-pricing-benefits li::before {
    content: '';
    margin-right: 8px;
    background-color: #2850c1;
    width: 7px;
    height: 7px;
    position: absolute;
    top: calc(50% - 3px);
    left: -18px;
    transform: rotateZ(45deg);
}

.ae-home-pricing__button {
    background-color: #ff6200;
    padding: 14px 22px;
    border-radius: 2px;
    font-weight: 600;
    color: white !important;
    cursor: pointer;
    transition: all 0.3s;
}

.ae-home-pricing__button:hover {
    background-color: #d35100;
}

.ae-features-row {
    margin-bottom: 90px;
}

.ae-features-text {
    color: #5C6F84;
    font-size: 18px;
}

.ae-features-title {
    color: black;
    font-weight: bold;
}

.ae-features-img {
    height: 240px;
    transition: all 0.5s;
}

.ae-features-img:hover {
    transform: translateY(-5px);
}

.ae-home-tile > .tile-header {
    height: 100px;
    text-align: center;
    margin-bottom: 25px;
}

.ae-home-tile > .tile-title {
    font-weight: 600;
    font-variant: all-petite-caps;
}

.ae-home-tile > .tile-body {
    color: #6E7076;
    font-size: 18px;
}

.tile-title, .tile-body {
    text-align: center;
}

.ae-footer-info > a {
    color: black;
}

.ae-footer-info > a:hover {
    font-weight: bold;
    text-decoration: none;
}

.auth-sign {
    width: 50%;
    font-size: 24px;
    padding: 7px 0;
    cursor: pointer;
}

.auth-sign.active {
    background-color: var(--ad-primary);
    color: white;
}

.auth-sign-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: solid 1px #56565621;
    font-family: Raleway, serif;
}

#header-nav {
    display: inline-block;
    align-self: center;
}

#header-nav a {
    margin: 0 7px;
}

#dashboard {
    display: flex;
}

.dashboard__sidebar {
    overflow-y: hidden;
    width: var(--dashboard-sidebar-width);
}

.dashboard__main {
    width: calc(100% - var(--dashboard-sidebar-width));
}

.dashboard__sidebar-logo, .dashboard__main-topbar {
    height: var(--header-height);
}

.dashboard__sidebar-logo {
    display: flex;
    box-shadow: inset 0 0 4px -2px #0000007a;
}

.dashboard__sidebar-logo > img {
    height: 55px;
    align-self: center;
}

.dashboard__sidebar-logo span {
    font-family: Raleway, serif;
    font-size: 25px;
}

.dashboard__sidebar-bar {
    height: calc(100% - var(--header-height));
    box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
}

.dashboard__main-content {
    height: calc(100% - var(--header-height));
    background-color: #eff3f6;
    overflow-y: auto;
}

.dashboard__sidebar--item > a.active .dashboard__sidebar--item-container {
    border-left: solid 3px #04a7a6;
    background-color: #f6f6f6;
}

.dashboard__sidebar--item-container {
    padding: 7px 0 7px 15px;
    border-left: solid 3px transparent;
}

.dashboard__sidebar--item.selected {
    background-color: #ededed;
}

.dashboard__sidebar--item a, .dashboard__main-topbar--item a, .dashboard__main-topbar--item > span {
    font-family: Raleway, serif;
    font-size: 19px;
    color: black;
}

.websites-add__container {
    max-width: 1000px;
    margin: auto;
}

.website-item {
    background-color: white;
    margin: 9px 0;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.website-item__image {
    height: 62px;
    width: 62px;
    align-self: center;
    border: solid 1px #dbdbdb;
}

.website-item__name {
    width: max-content;
}

.website-item__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.dashboard-website {
    background-color: white;
}

.dashboard-website__up {

}

.dashboard-website__down {
    padding-bottom: 15px;
}

.dashboard-website__up-logo {
    background-color: silver;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.dashboard-website__up-logo img {
    width: 110px;
    height: 110px;
}

.dashboard-website__up-url {
    text-align: center;
    margin: 10px 0;
}

.dashboard-website__up-url a {
    font-size: 33px;
    font-weight: bold;
    color: #3f3f3f;
}

.dashboard-website__tag {
    display: inline-block;
    background-color: #166ac9;
    border-radius: 4px;
    padding: 2px 11px;
    color: white;
    font-variant: small-caps;
    margin: 0 5px;
}

.dashboard-website__tag:hover {
    background-color: #0c4584;
}

.dashboard-website, .dashboard-website__up-logo {
    border-radius: 8px 8px 0 0;
}

.custom-control-label::before {
    background-color: #d5d5d5;
}

.websites-add__checkbox {
    width: 164px;
    margin-bottom: 7px;
}

.websites-add__form label {
    font-variant: small-caps;
    color: #2455c0;
}

#websiteBackIcon {
    width: 30px;
    cursor: pointer;
}

#websiteBackIcon:hover {
    transform: scale(1.1);
}

.website-categories {
    margin-top: 5px;
}

.website-categories > .dashboard-website__tag {
    font-variant: normal;
    padding: 2px 7px;
    font-size: 11px;
    margin: 0 7px 0 0;
    background-color: white;
    color: black;
    border: solid 1px #0006;
}

.dashboard__main-content-container {
    max-width: 1000px;
    margin: auto;
}

.dashboard-website__rounded-button {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 11px 13px;
    border-radius: 6px;
    cursor: pointer;
}

.websites-add {
    background-color: rgb(255, 64, 104);
}

.dashboard-website__create-proposal {
    background-color: rgb(29, 188, 64);
}

.dashboard-website__edit {
    background-color: rgb(134, 188, 29);
    margin-right: 15px;
}

.dashboard-website__delete {
    background-color: rgb(188, 29, 29);
}

.blocking-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ads-add {
    background-color: rgb(207, 168, 34);
}

.ads-ad__checkbox:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
}

.ads-ad__checkbox-box {
    height: 22px;
    background-color: #dbdbdb;
}

.ads-ad__checkbox-box.active {
    background-color: #505050;
}

.ads-ad-wrapper {
    width: 284px;
    height: 176px;
}

.ads-ad__color-picker {
    width: 55px;
    height: 35px;
}

.ad-error {
    color: red;
}

.ads-ad__container {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}

.ads-ad__container-name {
    display: flex;
    justify-content: space-between;
    font-family: Raleway, serif;
    color: #bf2b47;
    padding: 8px 16px;
    border-bottom: 1px solid #e2e5e8;
}

.ad__container-option {
    font-size: 12px;
    margin: 0 3px;
    cursor: pointer;
}

.ad__container-option:hover {
    text-decoration: underline;
}

.ad__container-header {

}

.ad__container-header > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 21px;
    font-family: Raleway, serif;
}

.dashboard-add__button {
    background-color: #156dc9;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.proposal {
    padding: 7px 11px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.proposal-type__header {
    font-size: 25px;
    font-family: Raleway, serif;
    border-bottom: solid 2px #1768c8;
}

.proposal-type__container {
    margin-bottom: 9px;
}

.proposal-type__button {
    background-color: rgb(207, 113, 34);
}

#dashboardDeleteButton {
    background-color: rgb(255, 64, 104);
}

.proposals-edit__buttons .btn {
    margin-right: 17px;
}

#dashboardAcceptButton {
    background-color: rgb(62, 216, 58);
}

.contract {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 30px;
}

.contract__header {
    border-bottom: 1px solid #e2e5e8;
    padding: 10px 19px;
    font-family: Raleway, serif;
    font-size: 24px;
    border-radius: 4px 4px 0 0;
    display: flex;
    justify-content: space-between;
}

.contract__body {
    padding: 11px 19px 4px 19px;
}

.contract__body-item {
    padding: 2px 0;
}

.contract__body-show_ad {
    color: #0584ff;
    cursor: pointer;
}

.ae-confirmation__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000075;
}

.ae-confirmation__modal-content {
    background-color: white;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 80px;
    border-radius: .3rem;
}

.proposal__none {
    padding-left: 25px;
    margin-bottom: 11px;
    color: #848484;
}

.spots-add {
    background-color: rgb(255, 171, 64);
    margin-bottom: 15px;
}

.spot-header__option {
    display: inline-block;
    font-size: 12px;
    margin-left: 8px;
    vertical-align: middle;
}

.spot-header__option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.spot-id:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.contract__header .text-changer__input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0 7px;
}

.auth-background {
    display: flex;
    justify-content: center;
    background-color: #eff3f6;
    height: 100%;
}

#auth {
    background-color: #fff;
    box-shadow: 0 0 0 1px #e2e5e8;
    width: 400px;
    margin-top: 170px;
}

#authSubmit {
    width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: #d97000;
    border: none;
}

.auth-input-container {
    display: flex;
    align-self: stretch;
    width: 100%;
}

.auth-input-container span {
    border-radius: 4px 0 0 4px;
}

.auth-input-container input {
    border-radius: 0 4px 4px 0;
}

.contract__body-plus {
    width: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.contract__body-plus:hover {
    opacity: 1;
    transform: scale(1.1);
}

.contract__body-plus.active {
    transform: rotateX(180deg);
}

.ad-container {
    justify-content: center;
    display: flex;
    position: relative;
}

.contract__expired {
    color: red;
}

.contract__header--expired {
    background-color: #ff4d4d;
    color: white;
}

#createAdTextArea {
    height: 75px;
    line-height: 1.7em;
}

.contract-header__option {
    font-size: 12px;
    align-self: center;
}

.contract-header__option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dashboard__main-topbar {
    display: flex;
    padding-right: 20px;
}

.dashboard__main-topbar--item {
    display: inline-block;
    align-self: center;
    vertical-align: middle;
}

.menu-item-balance {
    margin-left: 17px;
}

.topbar-item-bell {
    margin-right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.auth--new-account {
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #3c3c3c;
    text-align: center;
    color: white;
    font-family: Raleway, serif;
    font-size: 22px;
}

.dashboard-website__description {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin: 40px 0;
}

.dashboard-panel__notification-header {
    font-weight: 700;
    font-family: Raleway, serif;
}

.dashboard-panel__notification-card {
}

.dashboard-panel__notification--item {
    padding: 9px 0;
    display: flex;
}

.dashboard-panel__notifications {
    padding-bottom: 2px;
    padding-top: 2px;
    height: 450px;
    overflow-y: auto;
}

.notification-icon {
    margin: auto 12px auto 0;
    border-radius: 50%;
    padding: 8px 9px;
    height: 31px;
    color: white;
}

.notification-icon.fa-repeat {
    background-color: #0a34c2;
}

.notification-icon.fa-check {
    background-color: #43e443;
}

.notification-icon.fa-minus {
    background-color: #c2170a;
}

.notification-icon.fa-envelope {
    background-color: #c29f0a;
    padding: 7px 9px;
}

.dropdown-item > a {
    color: black;
}

.dashboard__main-topbar .dropdown-item:active {
    background-color: #1c60c6;
}

.dashboard__main-topbar button {
    background-color: transparent;
    font-family: Raleway, serif;
    font-size: 19px;
}

.dashboard__main-topbar button:hover, .dashboard__main-topbar button.btn__active {
    text-decoration: underline;
}

.dashboard__main-topbar button:focus {
    box-shadow: none;
}

.dashboard__main-topbar__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.dashboard__main-topbar__left {
    display: flex;
    padding: 0 17px;
}

#dashboardAccountInfoSave {
    background-color: orangered;
}

.dashboard__account-balance i {
    font-size: 16px;
    margin-left: 9px;
    border-radius: 50%;
    padding: 4px 7px;
    box-shadow: 0 0 5px #9f9f9f96;
    cursor: pointer;
}

.dashboard__account-balance i:hover {

}

.dashboard-add__blocking-container {
    position: relative;
    margin: 0 10px 0 0;
}

.dashboard-add__blocking-container > .blocking-container {
    background-color: #7a7a7a87;
}

.dashboard-container-wrapper {
    padding: 2px 11px;
    border-radius: 4px;
}

.dashboard-info-container {
    background-color: #fff3cd;
    color: #856404;
}

.dashboard-error-container {
    background-color: #ffcdcd;
    color: #850404;
}

.dashboard-success-container {
    background-color: #cdffcd;
    color: #04851b;
}

.controlpanel-card__text h2, h4 {
    font-weight: 600;
}

.controlpanel-card__text span {
    color: deepskyblue;
}

.trans-0_3s {
    transition: all 0.3s;
}

.ae-features-image-wrapper img {
    max-width: 100%;
}

.card-notification {
    width: 485px;
    z-index: 1000;
    font-size: initial;
}

.topbar-item-bell--dropdown {
    position: absolute;
    cursor: initial;
    right: -18px;
    z-index: 1000;
}

.color-changing-bell {
    animation: changeBellColor 0.7s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

.control-panel-container {
    max-width: 1350px;
    margin: auto;
}

.websites-account-header {
    font-family: Raleway, serif;
    font-size: 30px;
    border-bottom: solid 2px #1768c8;
}

.add-balance-card {
    display: flex;
    flex-direction: column;
    padding: 9px 8px 17px 8px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 14px;
    transition: all 0.3s;
}

.add-balance-card:hover {
    transform: scale(1.1);
}

.add-balance-card-header {
    margin-bottom: 15px;
    text-align: center;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-balance-card-body {
    font-size: 18px;
}

.add-balance-card-header-icon {
    position: absolute;
    align-self: center;
}

.add-balance-card-body__buy {
    background-color: orange;
    border-radius: 4px;
    padding: 8px 23px;
    color: black;
    transition: all 0.4s;
    cursor: pointer;
}

.add-balance-card-body__buy:hover {
    text-decoration: none;
    background-color: black;
    color: orange;
}

.font-raleway {
    font-family: Raleway, serif;
}

.font-poppins {
    font-family: Poppins, serif;
}

.fa-abbr-icon {
    font-size: 12px !important;
    vertical-align: super;
    color: grey;
}

.help-header {
    font-size: 31px;
    font-family: Raleway, serif;
    background: linear-gradient(6deg, #237bc5, #0e8ed6);
    padding: 7px 15px;
    color: white;
}

.help-item--container {
    background-color: #fff;
    padding: 12px 9px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.help-item--container:hover {
    transform: scale(1.04);
}

.menu-mobile {
    display: none;
    font-size: 30px;
    margin: 0 0 0 19px;
    cursor: pointer;
}

.dashboard__sidebar.mobile-visible {
    position: absolute;
    display: block;
    background-color: white;
    height: 100%;
    z-index: 1020;

    animation: menuWidthChange 0.5s;
    animation-fill-mode: forwards;
}

.vertical-align-middle {
    vertical-align: middle;
}

/*
    ====================
        Media queries
    ====================
*/

/*Medium <-> Large*/
@media (min-width: 768px) and (max-width: 992px) {
    .ae-features-img {
        width: 350px;
    }
}

/*Medium <-> Extra Large*/
@media (min-width: 768px) and (max-width: 1199.98px) {
    .control-panel-container {
        max-width: 700px;
    }
}

/*Max small*/
@media (max-width: 575.98px) {
    .ae-navbar-account__new {
        display: none;
    }

    .menu-item-logout {
        display: none;
    }

    .topbar-item-bell {
        display: none;
    }
}

/*Max medium*/
@media (max-width: 767.98px) {
    .ae-features-image-wrapper {
        margin-bottom: 1rem;
        order: 2;
    }

    .ae-features-text {
        order: 1;
    }

    .header.ae-logo {
        padding: 0;
    }

    .ae-footer-copyright, .ae-footer-info {
        margin: 6px;
    }

    .ae-footer-logo, .ae-footer-copyright {
        text-align: center;
    }

    .ae-footer-info {
        justify-content: center;
    }

    .control-panel-container {
        max-width: 730px;
        margin: 0 7px;
    }

}

/*Max Large*/
@media (max-width: 991.98px) {
    .ae-hero-spacer {
        display: none;
    }

    .ae-home-banner {
        flex-direction: column;
    }

    .ae-hero-text {
        text-align: center;
        margin-bottom: 30px;
    }

    .ae-home-banner-wrapper {
        justify-content: center;
    }

    .ae-home-benefits-header h2 {
        text-align: center;
    }

    .ae-home-tile {
        margin-bottom: 25px;
    }

    .ae-home-tile > .tile-header {
        margin-bottom: 0;
    }

    .ae-features-row {
        text-align: center;
    }

    .ae-features-row {
        margin-bottom: 40px;
    }

    .dashboard__sidebar {
        display: none;
    }

    :root {
        --dashboard-sidebar-width: 0px;
    }

    .menu-mobile {
        display: block;
    }
}

/*
    =================
        Animations
    =================
*/

@keyframes increaseWidth {
    from {
        width: 0;
    }

    to {
        width: 25px;
    }
}

@keyframes changeBellColor {
    from {
        color: black;
        transform: scale(1);
    }
    to {
        color: firebrick;
        transform: scale(1.3);
    }
}

@keyframes menuWidthChange {
    from {
        width: 0;
    }
    to {
        width: 230px;
    }
}