@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    --ad-primary: #007bff;
    --header-height: 50px;
    --dashboard-sidebar-width: 250px;
}

html, body {
    height: 100%;
}

body.auth #header {
    display: none;
}

.header {
    height: 60px;
    font-family: Raleway, serif;
    font-size: 30px;
    padding: 7px 0px 0px 15px;
    background: linear-gradient(45deg, #2B47BF, #0F76CC);
    color: white;
    margin-bottom: 90px;
}

.home-card {
    border-radius: 2px;
    height: 150px;
    width: 375px;
    display: flex;
    margin-bottom: 30px;
}

#dashboardCard {
    background: linear-gradient(45deg, #2ca961, #2ed88a);
    width: 270px;
    height: 80px;
    padding-left: 10px;
}

#dashboardCard > * {
    align-self: center;
}

#dashboardCard a {
    font-size: 50px;
    color: white;
}

.auth-sign {
    width: 50%;
    font-size: 24px;
    padding: 7px 0;
    cursor: pointer;
}

.auth-sign.active {
    background-color: var(--ad-primary);
    color: white;
}

.auth-sign-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom: solid 1px #56565621;
    font-family: Raleway, serif;
}

#header-nav {
    display: inline-block;
    align-self: center;
}

#header-nav a {
    margin: 0 7px;
}

#dashboard {
    display: flex;
}

.dashboard__sidebar {
    width: var(--dashboard-sidebar-width);
}

.dashboard__main {
    width: calc(100% - var(--dashboard-sidebar-width));
}

.dashboard__sidebar-logo, .dashboard__main-topbar {
    height: var(--header-height);
}

.dashboard__sidebar-logo {
    background: linear-gradient(45deg, #2B47BF, #0F76CC);
    color: white;
    padding: 5px 0 0 8px;
}

.dashboard__sidebar-logo span {
    font-family: Raleway, serif;
    font-size: 25px;
}

.dashboard__sidebar-bar {
    height: calc(100% - var(--header-height));
    box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
}

.dashboard__main-content {
    height: calc(100% - var(--header-height));
    background-color: #eff3f6;
    overflow-y: auto;
}

.dashboard__sidebar--item > a.active .dashboard__sidebar--item-container {
    border-left: solid 3px #04a7a6;
    background-color: #f6f6f6;
}

.dashboard__sidebar--item-container {
    padding: 7px 0 7px 15px;
    border-left: solid 3px transparent;
}

.dashboard__sidebar--item.selected {
    background-color: #ededed;
}

.dashboard__sidebar--item a {
    font-family: Raleway, serif;
    font-size: 19px;
    color: black;
}

.websites-add__container {
    max-width: 1000px;
    margin: auto;
}

.website-item {
    background-color: white;
    margin: 9px 0;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    cursor: pointer;
}

.website-item__image {
    height: 62px;
    width: 62px;
    align-self: center;
    border: solid 1px #dbdbdb;
}

.website-item__name {
    width: max-content;
}

.website-item__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.dashboard-website {
    background-color: white;
}

.dashboard-website__up {

}

.dashboard-website__down {
    padding-bottom: 15px;
}

.dashboard-website__up-logo {
    background-color: silver;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.dashboard-website__up-logo img {
    width: 110px;
    height: 110px;
}

.dashboard-website__up-url {
    text-align: center;
    margin: 10px 0;
}

.dashboard-website__up-url a {
    font-size: 33px;
    font-weight: bold;
}

.dashboard-website__tag {
    display: inline-block;
    background-color: #166ac9;
    border-radius: 7px;
    padding: 2px 11px;
    color: white;
    font-variant: small-caps;
    margin: 0 5px;
}

.dashboard-website, .dashboard-website__up-logo {
    border-radius: 8px 8px 0 0;
}

.custom-control-label::before {
    background-color: #d5d5d5;
}

.websites-add__checkbox {
    width: 164px;
    margin-bottom: 7px;
}

.websites-add__form label {
    font-variant: small-caps;
    color: #2455c0;
}

#websiteBackIcon {
    width: 30px;
    cursor: pointer;
}

#websiteBackIcon:hover {
    transform: scale(1.1);
}

.website-categories {
    margin-top: 5px;
}

.website-categories > .dashboard-website__tag {
    font-variant: normal;
    padding: 2px 7px;
    font-size: 11px;
    margin: 0 7px 0 0;
    background-color: white;
    color: black;
    border: solid 1px #0006;
}

.dashboard__main-content-container {
    width: 1000px;
    margin: auto;
}

.dashboard-website__rounded-button {
    display: inline-block;
    color: white;
    font-weight: bold;
    padding: 11px 13px;
    border-radius: 6px;
    cursor: pointer;
}

.websites-add {
    background-color: rgb(255, 64, 104);
}

.dashboard-website__create-proposal {
    background-color: rgb(29, 188, 64);
}

.dashboard-website__edit {
    background-color: rgb(134, 188, 29);
    margin-right: 15px;
}

.dashboard-website__delete {
    background-color: rgb(188, 29, 29);
}

.blocking-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.ads-add {
    background-color: rgb(207, 168, 34);
}

.ads-ad__checkbox {
    margin: 0 10px 0 0;
}

.ads-ad__checkbox:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.25);
}

.ads-ad__checkbox-box {
    height: 22px;
    background-color: #dbdbdb;
}

.ads-ad__checkbox-box.active {
    background-color: #505050;
}

.ads-ad-wrapper {
    width: 284px;
    height: 176px;
}

.ads-ad__color-picker {
    width: 55px;
    height: 35px;
}

.ad-error {
    color: red;
}

.ads-ad__container {
    background-color: white;
    border-radius: 4px;
    margin-bottom: 30px;
}

.ads-ad__container-name {
    display: flex;
    justify-content: space-between;
    font-family: Raleway, serif;
    color: #bf2b47;
    padding: 8px 16px;
    border-bottom: 1px solid #e2e5e8;
}

.ad__container-option {
    font-size: 12px;
    margin: 0 3px;
    cursor: pointer;
}

.ad__container-option:hover {
    text-decoration: underline;
}

.ad__container-header {

}

.ad__container-header > * {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 21px;
    font-family: Raleway, serif;
}

.dashboard-add__button {
    background-color: #156dc9;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.proposal {
    padding: 7px 11px;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.proposal-type__header {
    font-size: 25px;
    font-family: Raleway, serif;
    border-bottom: solid 2px #1768c8;
}

.proposal-type__container {
    margin-bottom: 9px;
}

.proposal-type__button {
    background-color: rgb(207, 113, 34);
}

#dashboardDeleteButton {
    background-color: rgb(255, 64, 104);
}

.proposals-edit__buttons .btn {
    margin-right: 17px;
}

#dashboardAcceptButton {
    background-color: rgb(62, 216, 58);
}

.contract {
    background-color: white;
    border-radius: 6px;
    margin-bottom: 30px;
}

.contract__header {
    border-bottom: 1px solid #e2e5e8;
    padding: 10px 19px;
    font-family: Raleway, serif;
    font-size: 24px;
    border-radius: 4px 4px 0 0;
}

.contract__body {
    padding: 11px 19px 4px 19px;
}

.contract__body-item {
    padding: 2px 0;
}

.contract__body-show_ad {
    color: #0584ff;
    cursor: pointer;
}

.ae-confirmation__modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000075;
}

.ae-confirmation__modal-content {
    background-color: white;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 80px;
    border-radius: .3rem;
}

.proposal__none {
    padding-left: 25px;
    margin-bottom: 11px;
    color: #848484;
}

.spots-add {
    background-color: rgb(255, 171, 64);
    margin-bottom: 15px;
}

.spot-header__option {
    display: inline-block;
    font-size: 12px;
    margin-left: 8px;
    vertical-align: middle;
}

.spot-header__option:hover {
    text-decoration: underline;
    cursor: pointer;
}

.spot-id:hover {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}

.contract__header .text-changer__input {
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0 7px;
}

.auth-background {
    display: flex;
    justify-content: center;
    background-color: #eff3f6;
    height: 100%;
}

#auth {
    background-color: #fff;
    box-shadow: 0 0 0 1px #e2e5e8;
    width: 400px;
    margin-top: 170px;
}

#authSubmit {
    width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: #d97000;
    border: none;
}

.auth-input-container {
    display: flex;
    align-self: stretch;
    width: 100%;
}

.auth-input-container span {
    border-radius: 4px 0 0 4px;
}

.auth-input-container input {
    border-radius: 0 4px 4px 0;
}

.contract__body-plus {
    width: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.contract__body-plus:hover {
    opacity: 1;
    transform: scale(1.1);
}

.contract__body-plus.active {
    transform: rotateX(180deg);
}

.ad-container {
    justify-content: center;
    display: flex;
    position: relative;
}

.contract__expired {
    color: red;
}

.contract__header--expired {
    background-color: #ff4d4d;
    color: white;
}

#createAdTextArea{
    height: 75px;
    line-height: 1.7em;
}