@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    --ad-primary: #009dff;
    --header-height: 50px;
    --dashboard-sidebar-width: 250px;
}

html, body{
    height: 100%;
}

body.auth #header{
    display: none;
}

#header {
    background-color: var(--ad-primary);
    display: flex;
    height: var(--header-height);
    padding: 0 20px;
}

#header a {
    color: #fff;
}

#auth {
    width: 300px;
}

.auth-sign {
    width: 50%;
    font-size: 24px;
    padding: 7px 0px;
}

.auth-sign.active {
    background-color: var(--ad-primary);
}

.auth-sign-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#header-nav {
    display: inline-block;
    align-self: center;
}

#header-nav a {
    margin: 0 7px;
}

#dashboard{
    display: flex;
}

.dashboard__sidebar{
    width: var(--dashboard-sidebar-width);
}

.dashboard__main{
    width: calc(100% - var(--dashboard-sidebar-width));
}

.dashboard__sidebar-logo, .dashboard__main-topbar{
    height: var(--header-height);
}

.dashboard__sidebar-logo{
    background: linear-gradient(45deg, #2B47BF, #0F76CC);
    color: white;
    padding: 5px 0 0 8px;
}

.dashboard__sidebar-logo span{
    font-family: Raleway, serif;
    font-size: 25px;
}

.dashboard__sidebar-bar{
    height: calc(100% - var(--header-height));
    box-shadow: 7px 0 15px 0 rgba(69, 90, 100, 0.09);
}

.dashboard__main-content{
    height: calc(100% - var(--header-height));
    background-color: #eff3f6;
}

.dashboard__sidebar--item{
    padding: 7px 0 7px 15px;
}

.dashboard__sidebar--item.selected{
    background-color: #ededed;
}

.dashboard__sidebar--item a{
    font-family: Raleway, serif;
    font-size: 19px;
    color: black;
}